
<html>
  <head>
  </head>

  <body>
    <h3> hi </h3>
    <p></p>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      let token = window.location.hash.split("access_token=")[1].split("&")[0]
      let numResults = '3'
      findGroupByTerms = (terms) => {
        terms = Array.isArray(terms) ? terms.join() : terms
        axios.get(`https://api.meetup.com/find/groups?page=${numResults}&text=${terms}&access_token=${token}`, (error, response, body) => {
          if (!error && response.statusCode == 200) {
            let groups = JSON.parse(body)
          } else {
            console.log(response.statusCode)
          }
        }
        )
      }

      console.log(findGroupByTerms('ruby'))
    </script>
  </body>

</html>
