<!DOCTYPE html>
<html>
<head>
	<title>Unity</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="uni.css">


  </head>
  <body>
    <a href="https://secure.meetup.com/oauth2/authorize?client_id=ueqb8fudpl8r1l7p1975531a00&response_type=token&redirect_uri=https://fccsf.site/authd.html">activate</a>
    <p>
    <p>
    <a href="https://www.meetup.com/account/oauth_apps/">deactivate</a>

<div class="container">

	<div class="jumbotron">
	  <h1>Unity</h1>

	  <p>Uniting pioneer women with local allies who can help them thrive in their new home.</p>
	  <p><a name="connectMeetup" id="connectMeetup" class="btn btn-primary btn-lg" href="https://secure.meetup.com/oauth2/authorize?client_id=ueqb8fudpl8r1l7p1975531a00&response_type=token&redirect_uri=http://fccsf.site/authd.html" role="button">Connect with Meetup</a></p>

	</div>

	<div class="row">

		<div class="col-md-6"> <h2>I'm a Pioneer</h2>
		<p>I have just moved to a new country and I would like to meet with other women who share my interests and understand what it is like to start a new life in a new country.</p>
		</div>

		<div class="col-md-6"> <h2>I'm an Ally</h2>
		<p>I understand what it is like to move to a new country and start a new life. I want to help other women who are just starting their journey to thrive in their new home.</p>
		</div>


	</div>
	<div class=row>
		<div class=col-md-3></div>
		<div class=col-md-6><a href="https://www.meetup.com/account/oauth_apps/">deactivate</a></div>
		<div class=col-md-3></div>
	</>

	</div>
</div>

</body>
</html>
