<html>
  <head>

  </head>
  <body>
    <a href="https://secure.meetup.com/oauth2/authorize?client_id=ueqb8fudpl8r1l7p1975531a00&response_type=token&redirect_uri=localhost:3333/authd.html">activate</a>
    <p>
    <p>
    <a href="https://www.meetup.com/account/oauth_apps/">deactivate</a>




  </body>
</html>
